[Unit]
Description=Labella backend

[Service]
ExecStart=/usr/bin/java -DprinterName=Zebra_LP2824 -Dspring.datasource.url=jdbc:h2:file:./db -Dserver.port=80 -Xmx256M -jar /home/pi/labella/app.jar
User=root
Group=root

[Install]
WantedBy=multi-user.target
